
@media (max-width: 767px) {
    .our-skills .skills {
        padding: 0 30px;
    }
}

.our-skills .skills .prog-holder {
    margin-bottom: 40px;
}

.our-skills .skills .prog-holder h4 {
    margin-bottom: 15px;
    font-weight: normal;
    text-transform: uppercase;
}

.our-skills .skills .prog-holder .prog {
    background-color: #dedadc;
    height: 30px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}    

.our-skills .skills .prog-holder .prog span {
    display: block;
    background-color: var(--mincolor-19c8fa, #19c8fa);
    height: 100%;
    position: relative;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    
    
    animation-name: late-skills;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}    

@keyframes late-skills {
    
    20% {
        width: 20%;
    }

    40% {
        width: 40%;
    }

    60% {
        width: 60%;
    }


}

.our-skills .skills .prog-holder .prog span::before {
    content: attr(data-progress);
    position: absolute;
    background-color: #000;
    color: #fff;
    top: -40px;
    right: -19px;
    padding: 4px 0;
    width: 40px;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;

    animation-name: late-before;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}


@keyframes late-before {
    
    20% {
        content: attr(data-progress20);
    }

    40% {
        content: attr(data-progress40);
    }

    60% {
        content: attr(data-progress60);
    }

}

.our-skills .skills .prog-holder .prog span::after {
    content: "";
    position: absolute;
    right: -8px;
    top: -15px;
    border: 8px solid;
    border-color: #000 transparent transparent;
}    

/* end our-skills */